$flav-color: #F50F6E;
$leaf-color: #3EBB0C;

html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.navbar {
  background: #162D3F !important;
  border-bottom: .2rem solid $flav-color;
}
#first {
  position: relative;
  height: 100vh;
  min-height: 300px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/dryfog/main.jpg');
  min-height:700px;
  background-size: cover;
  background-attachment: fixed;
  z-index: 10;
  background-repeat: no-repeat;
  
  #call {
    position: absolute;
    background: $leaf-color;
    color: #fff;
    height: 3rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    top: 75vh;
    border-radius: 10rem;
    text-shadow: .1rem .1rem .1rem black;
    box-shadow: .1rem .1rem .5rem lightblue, -.1rem -.1rem .5rem lightblue;
  }
  #pinethree {
    position: absolute;
    height: 14rem;
    width: 8rem;
    top: 3rem;
    left: 46vw;
    transform-origin: 50% 0%;
    animation: pineMove 1s ease-in-out infinite alternate;

    img {
      height: 14rem;
      width: 8rem;
    }
    
  }
  h1 {
    position: absolute;
    font-size: 4rem;
    height: 20rem;
    width: 90%;
    border-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $flav-color;
    
    background: radial-gradient(ellipse at center, lightblue, transparent, transparent); 
    z-index: 2; 
  }
  h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 10rem;
    width: 80%;
    top:375px;
    font-weight: bolder;
    color: #000;
    background: radial-gradient(ellipse at center, lightblue, transparent, transparent);
    border-radius: 5rem;
    z-index: 2;
  }

  #top-angle {
    position: absolute;
    left:50%;
    bottom: -21rem;
    height: 20rem;
    width: 70%;
    background: #162D3F;
    transform-origin: 0 0;
    transform: rotate(-11deg);
    z-index: 3;
  }
  #first-arrow {
    position: absolute;
    height: 1rem;  
    width: 1rem;
    right: 5rem;
    bottom: 2.5rem;
    z-index: 5;
    animation: jump .5s linear infinite alternate;

    .left, .right {
      position: absolute;
      height: 1rem;
      width: 1.6rem;
    }
    .left {
      right: .8rem;
      transform-origin: 100% 100%;
      transform: skew(45deg)rotate(45deg);
      animation: blink 2s linear infinite;
    }
    .right {
      right: -.8rem;
      transform-origin: 0 100%;
      transform: skew(-45deg)rotate(-45deg);
      animation: blink 2s linear 1s infinite;
    }
  } 
}

#second {
  position: relative;
  height: 100vh;
  min-height: 400px;
  width: 100%;
  background: #162D3F;
  z-index: 4;
  color: #fff;

  .second-main {
    position: absolute;
    height: 5rem;
    width: auto;
    left: 55vw;
    top: 7.3rem;
    font-size: 1.8rem;
    
    p {
      border-bottom: .2rem solid $leaf-color;
    }
  }
  .cont {
    position: absolute;
    width: 90%;
    left: 10vw;
    min-height: 600px;
    display: grid;
    grid-template-columns: auto auto;
    
    .photo-col {
      position: absolute;
      width: 30%;
      height: 60vh;
      min-height: 500px;
      top: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;

      img {
        position: absolute;
        height: 15rem;
        width: 20rem;
        z-index: 11;
      }
      .sec3 {
        z-index: 12;
      }
      .sec5, .sec6 {
        z-index: 13;
      }
      img:hover {
        z-index: 99;
      }
    }
    .text-col {
      position: absolute;
      width: 40%;
      min-height: 400px;
      left: 55%;
      top: 13rem;
      display: grid;
      grid-template-columns: auto;

      div {
        display: grid;
        grid-template-columns: 1fr 8fr;
      }
      p {
        font-size: calc(1rem + 4px);
        height: 2rem;
        width: 20rem;
        display: inline-block;
      }
      .galk {
        color: $flav-color;
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.5rem;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        border:.2rem solid $leaf-color;
        border-radius: .4rem;
      }
    }
  }
  #second-angle {
    position: absolute;
    left:50%;
    bottom: -21rem;
    height: 20rem;
    width: 70%;
    background: #242424;
    transform-origin: 0 0;
    transform: rotate(-11deg);
    z-index: 3;
  }
  #second-arrow {
    position: absolute;
    height: 1rem;  
    width: 1rem;
    right: 5rem;
    bottom: 2.5rem;
    z-index: 5;
    animation: jump .5s linear infinite alternate;

    .left, .right {
      position: absolute;
      height: 1rem;
      width: 1.6rem;
    }
    .left {
      right: .8rem;
      transform-origin: 100% 100%;
      transform: skew(45deg)rotate(45deg);
      animation: blink2 2s linear infinite;
    }
    .right {
      right: -.8rem;
      transform-origin: 0 100%;
      transform: skew(-45deg)rotate(-45deg);
      animation: blink2 2s linear 1s infinite;
    }
  }
}

#third {
  position: relative;
  background: #242424;
  height: 100vh;
  width: 100vw;
  z-index: 4;

  .third-text {
    position: absolute;
    display: grid;
    grid-template-columns: 45% 55%;
    height: 60vh;
    width: 80%;
    left: 20vw;
    top: 7rem;
    color: white;
    z-index: 9;

    .third-one {
      color: #fff;
      
      h3 {
        font-weight: bold;
      }
      p {
        font-size: 1.33rem;
        opacity: .5;
        font-weight: normal;
        margin-top: -1rem;;
      }
      .signs img {
        height: 4rem;
        width: 4rem;
        margin-right: 1rem;
      }
    }
    .third-two {
      position: absolute;
      left: 34vw;
      display: grid;
      grid-template-columns: 1fr;
      
      div {
        position: absolute;
      }
      
      .smells {
        position: absolute;
        height: 10rem;
        width: 46vw;
        top: 3rem;
        background: rgba(0,0,0,.3);

        .seml {
          left: 1rem;
          top: 1rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, #FF515B , transparent);
          }
        }
        .selt {
          left: 12rem;
          top: 1rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, $leaf-color , transparent);
          }
        }
        .seaf {
          left: 22rem;
          top: 1rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, rgb(60, 197, 252) , transparent);
          }
        }
        .oran {
          left: 1rem;
          top: 4rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, orangered , transparent);
          }
        }
        .pros {
          left: 10rem;
          top: 4rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, #fee , transparent);
          }
        }
        .capu {
          left: 20rem;
          top: 4rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, #6B3F21 , transparent);
          }
        }
        .cher {
          left: 30rem;
          top: 4rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, #2F0402 , transparent);
          }
        }
        .crea {
          left: 1rem;
          top: 7rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, #F0EBC5 , transparent);
          }
        }
        .antt {
          left: 11rem;
          top: 7rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, blue , transparent);
          }
        }
        .newc {
          left: 22rem;
          top: 7rem;

          div {
            height: .2rem;
            width: 9rem;
            margin-top: -1rem;
            background:linear-gradient(left, yellow , transparent);
          }
        }
      }
    }
  }

  .third-poster {
    position: absolute;
    right: 0;
    height: 66vh;
    width: 100%;
    min-width: 780px;
    bottom: 0;

    img {
      height: 67vh;
      width: 100%;
    }
  }
  #third-angle {
    position: absolute;
    left:50%;
    bottom: -21rem;
    height: 20rem;
    width: 70%;
    background: #eee;
    transform-origin: 0 0;
    transform: rotate(-11deg);
    z-index: 3;
  }
  #third-arrow {
    position: absolute;
    height: 1rem;  
    width: 1rem;
    right: 5rem;
    bottom: 2.5rem;
    z-index: 5;
    animation: jump .5s linear infinite alternate;

    .left, .right {
      position: absolute;
      height: 1rem;
      width: 1.6rem;
    }
    .left {
      right: .8rem;
      transform-origin: 100% 100%;
      transform: skew(45deg)rotate(45deg);
      animation: blink 2s linear infinite;
    }
    .right {
      right: -.8rem;
      transform-origin: 0 100%;
      transform: skew(-45deg)rotate(-45deg);
      animation: blink 2s linear 1s infinite;
    }
  }
}

#fourth {
  position: relative;
  background: #eee;
  height: 100vh;
  width: 100%;
}


@media screen and (max-width:1070px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width:778px) {
  html {
    font-size: 8px;
  }
  .nav-link {
    font-size: 2rem;
  }
}

@media screen and (max-width:575px) {
  html {
    font-size: 5px;
  }
}



@keyframes jump {
  0% {
    transform: translateY(0rem);
  }
  0% {
    transform: translateY(1rem);
  }
}

@keyframes blink {
  0% {
    background: transparent;
  }
  0% {
    background: $leaf-color;
  }
}
@keyframes blink2 {
  0% {
    background: transparent;
  }
  0% {
    background: $flav-color;
  }
}

@keyframes pineMove {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}