html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
body {
    background: #eee;
    overflow: hidden;
}
#wrap {
    position:relative;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width:100vw;
    min-width: 70rem;
    box-sizing:border-box;
    transform-style:preserve-3d;
    perspective:400px;
    overflow: hidden;

}
#cont {
    position: relative;
    display: flex;
    height:40rem;
    width:70rem;
    box-sizing: border-box;

    .image0, .image1, .image2 { 
        position:absolute;
        transition:.9s;
        height:40rem;
        width:70rem;
        box-sizing: border-box;
        display: none;
        animation-fill-mode: forwards;
    }
    .image0 {
        background:url("../images/spacer_green.jpg");
        background-size: 100% 100%;
        box-sizing: border-box;
    }
    .image1 {   
        background: url("../images/space.jpg");
        background-size: 100% 100%;
    }
    .image2 {
        background: url("../images/dryfog.jpg");
        background-size: 100% 100%;
    }
    //You can continue adding images here

    .image0:hover {
        transform:translateZ(4rem);
        transition: .2s;
        z-index: 9;
    }
    .image1:hover {
        transform:translateZ(4rem);
        transition: .2s;
        z-index: 9;
    }
    .image2:hover {
        transform:translateZ(4rem);
        transition: .2s;
        z-index: 9;
    }
}
#box {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;

    #buttons {
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 70rem;
    }
}


@keyframes turn {
    0% {
        transform:rotate(0deg);
        transform-origin: 0 0;
    }
    20% {
        transform-origin: 100% 100%;
    }
    100% {
        transform:rotate(360deg);
        transform-origin: 50% 50%;
    }
}

@keyframes tran {
    0% {
        transform:translateZ(-999px);
    }
    100% {
        transform:translateZ(0);
    }
}


@media screen and (max-width: 780px) {
    html {
        font-size: 7px
    }
}

@media screen and (max-width: 580px) {
    html {
        font-size: 5px
    }
}
@media screen and (max-width: 380px) {
    html {
        font-size: 3px
    }
}