body {
}
#wrap {
    position:relative;
    display:flex;
    height:400px;
    width:700px;
    border:1px solid;
    box-sizing:border-box;
    transform-style:preserve-3d;
    perspective:10px;
}
#cont {
    display: flex;
    height:400px;
    width:700px;
}
.part {
    position:relative;
    background-size:100%;
    background-position:100% 100%;
    transition:.9s;
    height:400px;
    width:700px;
    background:url("../images/spacer_green.jpg");
}
.part {
}
.part1 {
  background: url("../images/space.jpg");
}
.part2 {
  background: url("../images/fredgad1.jpg");
}
.part:hover {
    transform:translateZ(2px);
    transition: .2s;
}

@keyframes turn {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes tran {
    0%, 100% {
        transform:translateZ(0px);
    }
    50% {
        transform:rotateY(189deg);
    }
}