html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow: hidden ;
  padding: 0;
  margin: 0;
}
#cont {
  position:relative;
  height:80vh;
  width:100vw;
  background:lightgray;
  box-shadow:inset 0 0 10px 3px lightgreen;
  overflow: hidden;

  div {
    position: absolute;
    box-shadow:0px 0px 3vh 1vh #333;
    height: 4rem;
    width:4rem;
    border-radius: 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    
    p {
      font-size:4rem;
      position: absolute;
      top: -5rem;
    }
  }
}
#start, #loose {
  position:absolute;
  height:30vh;
  width:100vw;
  font-size:4rem;
  font-weight:900;
  display:flex;
  justify-content:center;
  align-items:center;
  color:red;
  text-shadow:10px 3px 5px black;
  box-shadow:0 0 10px 3px lightgreen;
  border-radius:250px;
  top:25vh;
  background: lightgrey;
  z-index:9;
}
#loose {
  top:100vh;
  height: 80vh;
  
  strong {
    position: absolute;
    top: 3rem;
    font-size:4rem;
  }
  
  p {
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius:2.5vh;
    font-size:2rem;
    transform:translateY(-4vh);
  }
}
#score_time, #score_moon, #score_speed, #best_speed {
  position: absolute;
  width: 70vw;
  top: calc(6rem + 50px);
  text-shadow:10px 3px 5px black;
  border:none;
  font-size: 4vw;
}
#score_moon {
  top: calc(10rem + 50px);
}
#score_speed {
  top: calc(14rem + 50px);
}
#best_speed {
  top: calc(18rem + 50px);
}  
#handle {
 position:relative;
 height:20vh;
 width:100vw;
 background:#333;
 z-index: 99;

  #table {
    position: absolute;
    left: 1vw;
    top: 0;
    height: 20vh;
    width: 19vw;
    display: grid;   
    align-items: space-around;
   
    p {
      font-size: 12px;
      color: #fff;
    }
    .neek {
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 0;
      font-size: 1.2rem;
      display: flex;
      width: 15vw;
 
      .neekName {
        color: rgb(190, 6, 6);
        font-size:17px;
      }
    }
    .own_record {
      position: relative;
      color: white;
      bottom: 1.3rem;
      font-size: .8rem;
    }
    .common_record {
      position: absolute;
      color: rgb(250, 221, 59);
      bottom: .3rem;
      font-size: .8rem;
    }
    .recorder {
      position: absolute;
      width: 30vw;
      height: 9vh;
      display: flex;
      left: 60vw;
      font-size: .8rem;
      color: rgb(250, 221, 59);
      top: 2.2vh;

      #recName {
        position: absolute;
        font-size: 17px;
        right:3rem;
        top: -1vh;
      }
    }
 }
 div {
   position:absolute;
   display:flex; 
   justify-content:center;
   align-items:center;
   height:9.5vh;
   width:19vw;
   background:#fff;
   font-size:7vh;
   z-index:9;
   box-shadow: 5px 5px 5px black, inset -3px -3px 5px 3px black;
  }
  div:hover {
    box-shadow: 0px 0px 5px black, inset 3px 3px 5px 3px black;
    padding-top:6px;
    padding-left:6px;
  }
  .menu_button {
    right: .5vw;
    bottom:.5vh;
    background: lightgreen;
    font-size: 3vw;
    z-index: 99999999;
  }
}
#left {
  bottom:.5vh;
  left:20vw;
}
#right {
  bottom:.5vh;
  right:20vw;
}
#top {
  top:-1px;
  left:40.5vw;
  background:linear-gradient(green, white);
}
#bottom {
  bottom:.5vh;
  left:40.5vw;
}
#ladybug {
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  height:8vh;
  width:8vh;
  font-size:8vh;
  transition:transform .1s;
  border-radius:2.5vh;
 
}
#screen_speed {
  position: absolute;
  top: 1vh;
  left: 1vh;
  color: rgb(190, 6, 6);
  font-size: 7vh;
  text-shadow:10px 3px 5px black;
}                
#record {
  position: absolute;
  top: 1vh;
  right: 3vh;
  color:white;
  text-shadow:10px 3px 5px black;
  font-size: 5vw;
}
#face {
  position: absolute;
  height: 10vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
#menu_table {
  position: absolute;
  display: none;
  height: 80vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  z-index: 9999;

  div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(250, 221, 59);
    font-weight: bolder;
    background: #222;
    width: 25rem;
  }
  div:hover {
    background: #eee;
    color: rgb(190, 6, 6);
  }
  .resume {
    position: abs;
  }
  #go_home {
    a {
      text-decoration: none;
      color: rgb(190, 6, 6);
    }
  }
}
#rules {
  position: absolute;
  width: calc(100vw - 25rem);
  height: 80vh;
  right: 0;
  top: 0;
  background: #444;
  z-index: 9999;
  box-sizing: border-box;
  padding: 4vw;
  font-size: 1.7rem;
  color: #fff;
  display: none;
}


@media screen and (max-width: 580px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 7px;
  }
  #score_time, #score_moon, #score_speed, #best_speed {
  font-size: 6vw;
  }
}
