* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  transform-style: preserve-3d;
  perspective: 1000px;
}
#first, #second, #third {
  position: absolute;
  width: 80vw;
  height: 80vh;  
  border: 2px dashed yellow;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1e100px;

  div {
    position: absolute; 
    transition: transform .1s;
  }
}
#playButton {
  position:absolute;
  top: 80vh;
  right:.5vw;
  z-index:99;
  font-size: 25px;
  background: #00f;
  color: #fff;
  border-radius: 5px;
  border: 5px solid yellow;

}
#check {
  display: none;
}
#rng{
  position: absolute;
  top: 95vh;
  left:10vw;
  width:80vw;
}
button {
  position: absolute;
  right: .5vw;
  width: 4vw;
  z-index: 99;
}
#firstButton {
  top: 1vh;
}
#secondButton {
  top: 5vh;
}
#thirdButton {
  top: 9vh;
}
#clear {
  top:10rem;
}
#aliveRng {
  position: absolute;
  width: 90vh;
  top: 44.5vh;
  transform: rotate(90deg);
  z-index: 999;
}

@keyframes exp {
0% {
  transform:scale(1);
}
100% {
  transform:scale(3);
}}

@keyframes turn {
from {
  transform:rotateY(0);
}
to {
  transform:rotateY(360deg);
}
}