:root {
  --m-s: 50px;
  --p-b:5px;
}

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body { 
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#main-header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  background: rgba(0,0,0,.4);
  z-index: 99;
  font-size: 2rem;

  .header-cont {
    width: 90%;
    position: absolute;
    top: 0;
    height: 10vh;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;

    .logotipe {
      position: relative;
      top: -1vh;
      height: 10vh;
      display: flex;
      align-items: center;
      
    
      img {
        height: 4rem;
        width: 15rem;
      }
    }
  }
  .main-menu {
    display: grid;
  }
  #menu-check { 
     display: none;  
  }
  .toggle-button {
    position: absolute;
    top: 0; 
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    width: 140px;
  }
  ul {
    height: 10vh; 
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5vw;
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    z-index: 999;
  }
  li:hover {
    background: rgba(251, 255, 0, 0.5);
  }
  #exit__a:hover {
    background: rgba(253, 10, 10, 0.5);
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
  }
}

#main {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
}
#first-screen {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;

  #up {
    position: absolute;
    height: 100vh;
    width: 100vw; 
    width:calc(1000px + 50vw);
    margin-left:-1000px;
    transform:skew(45deg); 
    overflow: hidden;
    z-index: 2;

    .skewBox {
      position: absolute;
      height: 100vh;
      width: 100vw; 
      transform:skew(-45deg);
      
      div {
        position: absolute;

      }
      .backGround {
        position: absolute;
        filter: hue-rotate(260deg);
        background: url("../images/spacer_green.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        width: 100vw; 
        left: 1000px;
      }
      .bittle {
        margin-left: 1000px;
        top: 9vh;
        display: flex;
        justify-content: center;    
        width: 100%;
        top: 9vh;
        left: 0;
        animation: bittleMove 4s ease-in-out infinite alternate;
        z-index: 5;

        img{
          height: 20rem;
          width: 25rem;
          animation: bittleTurn 3s ease-in-out infinite alternate;
        }
      }
      
      h1 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 25rem;
        width: 100vw;
        font-size: 5.5rem;
        color: #FF2204;
        text-shadow: .2rem .2rem .2rem black;
        left: 1000px;
      }
      p {
        position: absolute;
        max-width: 30vw;
        font-size: 3rem;
        color: #fff;
        text-shadow: .2rem .2rem 0 #000;
        z-index: 333;
        margin-left:calc(1000px + 5rem);
        top: calc(10vh + 5rem);
      }
    }
  }

  #down { 
    position: absolute;
    background: url("../images/spacer_green.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw; 

    h1 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 25rem;
      width: 100vw;
      font-size: 5.5rem;
      color: #FFCD00;
      text-shadow: .2rem .2rem .2rem black;
      left: 0;
    }
    
    .moon{
      position: absolute;
      background-size: cover;
      background-position: center center;
      top: calc(10vh + 3rem);
      right: 3rem;
      animation: moonMove 9s linear infinite;
      z-index: 9;

      img{
        height: 20rem;
        width: 25rem;
      }
    }
    .yellow-bittle {
      position: absolute;
      display: flex;
      justify-content: center;    
      width: 100%;
      top: 9vh;
      left: 0;
      animation: bittleMove 4s ease-in-out infinite alternate;

      img{
        height: 20rem;
        width: 25rem;
        animation: bittleTurn 3s ease-in-out infinite alternate;
      }
    }
  }
}
.login {
  position: absolute;
  bottom: var(--p-b);
  height: 225px;
  left: 27.5vw;
  min-width: 300px;
  width: 45vw;
  background: rgba(0,0,0,.4);
  z-index: 99;
  border-top: .2rem solid #FFCD00;
  border-bottom: .2rem solid #FF2204;
  border-radius: 2rem;
  color: #fff;
  overflow: auto;
  font-size: 16px;

  #tipingWrapper {
    width: 45vw;
    min-width: 300px;
    display: flex;
    justify-content: center;
    
    #tipingCont {
      width: 38rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
      display: grid;
      grid-template-columns: auto;
  
      p {
        position: relative;
        white-space: nowrap;
        width: 20em;
        border-right: 2px solid transparent;
        font-size: calc(1.4rem + 5px);  
        overflow: hidden;
      }
      .tipingText1 {
        animation: tiping 3s steps(40) 1s 1 normal both, blink .5s steps(40) infinite normal, 
        blinkOff 100s 3.8s infinite;
      }
      .tipingText2 {
        animation: tiping 3s steps(40) 4s 1 normal both, blink .5s steps(40) 4s infinite normal, 
        blinkOff 100s 7s infinite;
      }
      .tipingText3 {
        animation: tiping 3s steps(40) 7s 1 normal both, blink .5s steps(40) 7s infinite normal, 
        blinkOff 100s 9.8s infinite;
      }
      .tipingText4 {
        animation: tiping 3s steps(40) 10s 1 normal both, blink .5s steps(40) 10s infinite normal;
      }
    }
  }
  h3 {
    position: relative;
    color: #FFCD00;
    display: flex;
    padding: .5rem 0rem .5rem 0rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(right, rgb(66, 58, 114), rgb(44, 62, 124));
    font-size: 22px;

  }
  form {
    position: relative;
    top: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    justify-content: space-around;
    
    input {
      border-radius: 1rem;
      outline: 2px solid rgba(0, 0, 0, .001);
      width: 20vw;
      min-width: 250px;
    }
    a {
      color: #fff;
      margin-left: calc(2vw + 2rem);
    }
  }
}




@media screen and (max-width:1200px) {
  html {
    font-size:7px;
  }
  .works {
    top: 7rem !important;
    height: auto !important;
    grid-template-columns: auto auto !important;
  }
}


@media screen and (max-width:798px) {
  html {
    font-size: 7px;
  }
  #ladyUp, #ladyDown {
    top: 25rem !important;
  }
  #main-text {
    top: calc(10vh + 30rem) !important;
  }
  .main-menu {
    display: none !important;  
  } 
  li {
    position: relative !important;
    width: 150px !important;
    left: 0px !important;
    background: rgba(0,0,0,.4);
  }
  .toggle-button:after { 
    content: attr(data-open); 
    font-size: 4rem;
    color: #fff;
  }
  #menu-check:checked + nav[role="navigation"] .main-menu {
    display: block !important;
    position: absolute;
    right:0;
    width: 150px;
    height: auto;
    top: 10vh;
  }
  #menu-check:checked + nav[role="navigation"] .toggle-button:after {
    content: attr(data-close); 
    position: absolute;
    z-index: 33;
  }
  .works {
    top: 10rem !important;
  }
}

@media screen and (max-width:578px) {
  :root {
    --m-s: 230px;
    --p-b:120px;
  }
  html {
    font-size: 5px;
  }
  .login {   
    height: 166px;
    left: 50%;
    margin-left: -150px;
    
    h3 {
      font-size: 16px;
    }
  }
  #first {
    h1 {
      top: 20vw !important;
    }
    p {
      top: calc(8vw + 44rem) !important;
    }
  }
  li a {
    font-size: 13px !important;
  }
  .signup {
    bottom: 2rem;
  }
  .works {
    top: 15rem !important;
  }
}

@media screen and (max-width:420px) {
  html {
    font-size: 4px;
  }
  #ladyUp, #ladyDown {
    top: 35rem !important;
  }
  #first {
    p {
      display: none;
    }
  }
  .works {
    top: 20rem !important;
  }
}


@keyframes blink {
  0% {
    border-right-color: #fff;
  }
  100% {
    border-right-color: transparent;
  }
}
@keyframes blinkOff {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes tiping {
  0% {
    width: 0;
  }
  100% {
    width: 19em;
  }
}

@keyframes bittleMove {
  0% {  
    transform: translateY(0);
  }
  100% {  
    transform: translateY(var(--m-s));
  }
}

@keyframes bittleTurn {
  0% {
    transform: rotate(-5deg);
  }
  100% {  
    transform: rotate(5deg);
  }
}

@keyframes moonMove {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes forBox {
  0%, 100% {
    transform: rotateX(0);
  }
  25% {
    transform: rotateX(80deg)rotateY(90deg);
  }
  75% {
    transform: rotateX(-80deg)rotateY(180deg);
  }
}




#container {
  position: relative;
  background: url("../images/space.jpg");
  background-position: 0 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 260px;
  height: 100vh; 
  min-height: 360px;

  .works {
    position: absolute;
    background: #eee;
    height: 75vh;
    top: 11rem;
    min-height: 360px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around; 
    align-items: center;  
    border-top: .2rem solid #FFCD00;
    border-bottom: .2rem solid #FF2204;
    border-radius: 2rem;

    #comingSoon {
      height: 100%;
      width: 100%;

      .box {
        position: absolute;
        height: 10rem;
        width: 10rem;
        margin-top: 2rem;
        left: 9.5rem;
        background: radial-gradient(red, rgba(0,0,0,.2), transparent, transparent 60%, red 70%, red);
        border: 3px solid yellow;
        border-radius: 50%;
        top: 10px;
      }
    }
    div {
      position: relative;
      background: rgba(0,0,0,.1);
      height: 17rem;
      width: 29rem; 
      border-top: .2rem solid #FFCD00;
      border-bottom: .2rem solid #FF2204;
      border-radius: 2rem;
      overflow: hidden;
      margin-top: 1rem;
      margin-bottom: 1rem;

      p {
        position: absolute;
        top: 0;
        width: 100%;
        background: rgb(44, 62, 124);
        font-size: 16px;
        padding: .5rem;
        display: flex;
        justify-content: center;
        z-index: 10;

        a {
          color: #FFCD00;
          font-size: calc(1.2rem + 4px);
        }
      }
      img {
        width: 100%;
        transition: .2s;
      }
      img:hover {
        transform: scale(1.7);
        transition: .6s;
      }
    }
  }
  .signup {
    position: absolute;  
    height: 50vh;
    min-height: 280px;
    width: 45vw;
    min-width: 300px;
    background: rgba(0,0,0,.4);
    z-index: 99;
    border-top: .2rem solid #FFCD00;
    border-bottom: .2rem solid #FF2204;
    border-radius: 2rem;
    color: #fff;
    overflow: auto; 
    font-size: 16px;

    .p {
      position: relative;
      color: #FFCD00;
      display: flex;
      padding: .5rem 3rem .5rem 3rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: linear-gradient(right, rgb(66, 58, 114), rgb(44,   62, 124));
      font-size: 22px;

    }
    form {
      position: relative;
      top: 1rem;
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1rem;
      justify-content: space-around;
      align-content: space-around;
    
      input {
        border-radius: 1rem;
        outline: 2px solid rgba(0, 0, 0, .001);
        width: 20vw;
      min-width: 250px;
      }
      a {
        color: #fff;
        margin-left: calc(2vw + 2rem);
      }
      .avtMoove {
        animation: avtMoove 1s 
      }
    }
  }
}