:root {
  --bg-color: #222;
  --cl-dots: #fff;
  --cl-digits: orange;
  --cl-strips-start: lightgreen;
  --cl-strips-end: yellow;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  transform-style:preserve-3d;
  perspective:600px;
}
header {
  position:absolute;
  color: transparent;
  top: 0;
  width:100vw;
  display:flex;
  justify-content:center;
  z-index:2;

  p {
    position:relative;
    display:inline-block;
    font-size: calc(5rem + 10px);
  }
}
#sel {
  position:absolute;
  width: 10rem;
  height: 5rem;
  top:0;
  right:0;
  font-size: 3rem;
  z-index:3;
}
#main {
  position:relative;
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  background: var(--bg-color);

  .points {
    position:relative;
    width:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10rem;
    font-size:5.5rem;
    color: var(--cl-dots);
  }
  .cont {
    position:relative;
    width:11rem;
    height: 10rem;
    display:flex;
    justify-content:center;
    transform-style:preserve-3d;
    transform-origin:50% 50% -15.4rem;
    transition:.8s;
    transition-timing-function:linear;

    div {
      position:absolute;
      height:10rem;
      width:10rem;
      border-top:2px solid transparent;
      transform-origin:50% 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      font-size: 5rem;
      backface-visibility:hidden;
      color: var(--cl-digits);
    }

    .one {
      transform:translateY(-10.0rem)rotateX(36deg);
    }
    .two {
      transform:translateY(-18.1rem)translateZ(-5.9rem)rotateX(72deg);
    }
    .three {
      transform:translateZ(-15.4rem)translateY(-21.2rem)rotateX(108deg);
    }
    .four {
      transform:translateZ(-24.9rem)translateY(-18.1rem)rotateX(144deg);
    }
    .five { transform:translateZ(-30.8rem)translateY(-10.0rem)rotateX(180deg);
    }
    .six {
      transform:translateZ(-30.8rem)rotateX(-144deg);
    }
    .seven {
      transform:translateZ(-24.9rem)translateY(8.1rem)rotateX(-108deg);
    }
    .eight {
      transform:translateZ(-15.4rem)translateY(11.2rem)rotateX(-72deg);
    }
    .nine {
      transform:translateZ(-5.9rem)translateY(8.1rem)rotateX(-36deg);
    }
  }
}

@keyframes colorM {
0%, 10%, 90%, 100% {
  color:transparent;
  transform:translateY(3vh);
}
40% {
  color: var(--cl-strips-start);
  transform:translateY(0vh);
}
60% {
  color: var(--cl-strips-end);
  transform:translateY(0vh);
}}

@keyframes colorB {
0%, 10%, 90%, 100% {
  border-top-color:transparent;
}
40% {
  border-top-color: var(--cl-strips-start);
}
60% {
  border-top-color: var(--cl-strips-end);
}} 

@media screen and (max-width:999px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width:699px) {
  html {
    font-size: 5px;
  }
}
@media screen and (max-width:499px) {
  html {
    font-size: 4px;
  }
}
@media screen and (max-width:299px) {
  html {
    font-size: 3px;
  }
}